[submodule "src/legislation-explorer"]
	path = src/legislation-explorer
	url = https://github.com/openfisca/legislation-explorer.git
[submodule "src/openfisca-aotearoa"]
	path = src/openfisca-aotearoa
	url = https://github.com/ServiceInnovationLab/openfisca-aotearoa.git
