{% extends 'base.html' %}
{% block header %}
{% endblock %}
{% block content %}
    <form action="/rules" method="GET">
        <fieldset>
            <legend>Find your property rate rules</legend>
            <input id="form-property-location" type="hidden" name="property_location" />
            <label> Property Value (CV): <input name="property_cv" type="text"/> </label>
            <label>Select your property location</label>
            <div id="mapid" class="map-container"></div>
            <button class='form-submit' type="submit">Check my rates</button>
        </fieldset>
    </form>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='map_select.js') }}"></script>
    <script src="{{ url_for('static', filename='map_select.js') }}"></script>
{% endblock %}