{% extends 'base.html' %}
{% block header %}
    <h2>View ruleset</h2>
{% endblock %}
{% block content %}
    <form action="{{ url_for("rules.evaluate") }}" method="post">
    <fieldset>
        <legend>Situation</legend>
        <input type="hidden" name="zone_id" value="{{ data[0].zone_id }}">
        <label for="situation-input">Enter the situation as JSON text</label>
        <textarea name="situation" id="situation-input" ></textarea>
        <button type="submit">Evaluate Rules</button>
    </fieldset>
    </form>
    <table>
        <thead>
            <tr>
                <td>Zone Type</td>
                <td>Rule Type</td>
            </tr>
        </thead>
    {% for row in data %}
        <tr>
            <td> {{ row.zone_description }}</td>
            <td> <a href="{{ row.rule_uri }}" target="_blank">{{ row.rule_uri }}</a></td>
        </tr>
    {% endfor %}
    </table>
    <div class="view-map" data-map="{{ geometry }}"></div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='rule_view.js') }}"></script>
{% endblock %}